<h1> Brooklyn Eateries, Believe the Hype </h1>

<h2>Welcome,</h2>
# <%= @user.username%><h1> 

# <p>Below, is a list of the best places to eat in BK... Subjectively :) </p> 

# <% @eateries.all do |eatery| %>
# <%= Eatery.user.username %>
#   <%end%>


  <p>Welcome,</p>
<% Tweet.all.each do |tweet| %>
  <%= tweet.content %>
  <% end %>

#   <h1>Welcome, <%= @user.username %></h1>
# <% @tweets.each do |tweet| %>

