<html> 
  <body style="background-color: f8f1f1;">
    <h1> Brooklyn Eateries, Believe the Hype! </h1>

    <h2>Welcome, <%= Helpers.current_user(session).username %>!</h2>

    <p>Below, is a list of the best places to eat in BK... Subjectively :) </p> 

  <a href="/eateries/new"> Add another restaurant to the list!</a><br>
  <br>
  <a href="/logout"> Log Out </a>
<br>
<br>
<br>
</body>

</html>
