<h2>@eateries.name</h2>
<h2>@eateries.cuisine</h2>
<h2>@eateries.rating</h2>
<h2>@eateries.content</h2>
<h2>@eateries.number</h2>

<form method= "POST" action= "/eateries/<%= @eatery.id %>/delete"> 
  <input id= "hidden" type= "hidden" name= "_method" value= "DELETE">

</form>