<h2>@eatery.name</h2>
<h2>@eatery.cuisine</h2>
<h2>@eatery.rating</h2>
<h2>@eatery.content</h2>
<h2>@eatery.number</h2>

<form method= "POST" action= "/eateries/<%= @eatery.id %>/delete"> 
  <input id= "hidden" type= "hidden" name= "_method" value= "DELETE">
  <input type="submit" value= "Delete Eatery">
</form>