<h1> Brooklyn Eateries, Believe the Hype </h1>

<h2> Welcome, <%= @user.username %></h2>

<p>Below, is a list of the best places to eat in BK... Subjectively :) </p> 

<% @eateries.all do |eatery| %>
<h4> <%= eatery.user.username %>



