<html>
  <body style="background-color: f8f1f1;">
    <h1> Looking for a New Brunch Spot? </h1>
      <h4>Login Below<h4>

      <form method= "POST" action= "/login"
        <label><strong> Username:</label></strong>
        <input type="text" name= "username" id= "username">

        <label><strong> Password: </label><strong>
        <input type="text" name= "password" id= "password">

        <input type="submit" id= "submit" value= "Login">
      </form>
  </body>
<html>