<html>
  <h1> Looking for a New Brunch Spot? </h1>
    <h4>Login Below<h4>


  <form method= "POST" action= "/login"
    <label><strong> Username:</label></strong>
    <input type="text" name= "username" id= "username">

    <label><strong> Password: </label><strong>
    <input type="text" name= "username" id= "username">

    <input type="submit" value= "Submit">
  </form>
<html>