<html>
  <body style="background-color: d2c8c8;">

    <h1> Welcome to the Communal Table! <h1>
      <img src="/images/friendly-dinner.jpg" alt="Communal Table"> 

    <h2> To see all the brunchin hot spots in Brooklyn, NY</h2>
    <h2><a href='/login'> Log In</a>   or <p> <a href= '/signup'> Sign Up </a> here </h2>
  </body>
</html>