<html>
  <head>
    
  </head>
  <body style="background-color: d2c8c8;">

    <div style="padding: 20px; width: 900px; margin: 0 auto; text-align: center;">
      <h1> Welcome to the Communal Table! <h1>
      <img src="/images/friendly-dinner.jpg" alt="Communal Table" style="width: 600px; height: auto;"/> 

      <h2> To see all the brunchin hot spots in Brooklyn, NY</h2>
      <p><a href='/login'>LOGIN</a>  or <a href= '/signup'>SIGN UP</a></p>
    </div>
  </body>
</html>