<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Communal Table</title>
  </head>
  <body style="padding: 20px; background-color: d2c8c8;">
    <div >
      <%= yield %> 
    </div>
  </body>
</html>